<html>
<title> ELearn Institution | BluePrint </title>
<p> This is Just Blueprint, so no style sheets here </p>

<h1>Welcome Contributors </h1>
<p> Team eLearn Respects every Individual Open Source Contributors , Come Here And Update Your eLearn Institution</p>
<p> Contribute anything what you have, e.g; donate on our funds | update or modify or create our Web, Android, IOS, Application | Test Bugs On Our Application and send report to us, if you can teach our students , come and join us as Instructors , or you can also make our PDF Content .. anything just contribute .... Thank You </p> 
</html>
<h1>Links</h1>
<p>Since I'm Cyber Security Analyst not a Web Developers, and no one is developer inside us , that's why I can't make beautiful webpages, and for this reason I can't make proper django contact page, it can send post request but not files .. so We request send your CV to our official email id</p>
<p>email--> elearninstitution@gmail.com </p>
<p>github--> https://github.com/eLearnInstitute/eLearn-Web </p>
<p>linkedin-->https://www.linkedin.com/company/80863278 </p>
<p>instagram--> https://www.instagram.com/elearninstitution </p>
<p>twitter--> https://twitter.com/@Adrianalvird </p>
<p>reddit --> https://www.reddit.com/r/elearninstitution </p>

<h1> Strategy </h1>
<p>We Divided Every Class Into 3 Semister, In Every 4 months there will be exam , complete syllabus in 4 months after 3 months there will be grand examination </p>
<p>We Modify Class Syllabus , chapters and subjects </p>
<p>Educator Must be student friendly </p>
<p>Lower class- 1-5  , Intermediate - 6-10 , Advance - 11-12, after class 5 student can decided what they want to study , and class 11-12 for specialize that one topic</p>
<p> available subjects will be Math, Literature, Physics, Chemistry, Biology, Computer Science, Statistic, </p>

<h1>Why eLearn Institution</h1>
<p>There are many Extraordinary student, but couldn't complete education, or lose in race  due to hugh demand private institution and also online education ed-tech platform.. and everyone knows how  govt education system is ....
</p>
<p>As We Said Before , 10 minutes might not affect your life, but it can changes someone's life forever</p>
<p></p>
<p></p>
<h1> About US</h1>
<p>we respect everyone's privacy , thats why we will never use your personal data , even we suggest you to use ad blockers or privacy addons on your site</p>
<p>We Are not fraud , website might looking suspecious , since we not dealing with our official website, it's on working progress , we need Your Support Thank You For Reading </p>

