{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- index-754:31-->
<head>
	<!--===== Meta Tag =====-->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Runaway - Personal Portfolio HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="eLearn, eLearninstitution, open source, free, education, mentors, contribute, github, instructor, remote, online, coaching">
	<meta name="eLearninstitution" content="root">

	 <!--	Css Links
    ==================================================-->
     <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'home/fonts/flaticon.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/plugins.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/color.css' %}" id="color-change">


     <!-- Favicon 
    ==================================================-->
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/images/ico.png' %}">

      <!--	Title
    ==================================================-->
	<title>eLearn Institution | Homepage</title>

</head>

<body id="top" class="page-load">
	<!--	Start Back to top
	=================================================-->
	<a href="#" id="scroll" style="display: none;"><span></span></a>
	<!--	End Back to top
	==================================================-->

	<!--	Preloader
	==================================================-->
	<div class="preloader">
		<div class="lds-css ng-scope">
			<div class="lds-spinner" style="100%;height:100%">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	

<!-- Wrapper Start 
==================================================-->
<div id="page_wrapper">
	<div class="row">
	
	
	
	<!--	Start Main Banner 
	==================================================-->
	<section id="main_banner" class=" banner_water_effect background3 overlay_one">
		<div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-12 col-lg-12 home-content text-left">
                    <div class="mainbanner_content">
                        <span class="pb_5 banner_title color_white">Thank You For Being Part Of Us</span>  
                        <h1 class="cd-headline clip is-full-width text-uppercase">
                            <span class="color_white">Join</span>
                            <span class="cd-words-wrapper color_default">
                                <b class="is-visible">eLearn Institution</b>
                                <b>Our Open Source Project</b>
                                <b>To keep Motivate Us</b>
                                <b>Our GitHub Page</b>
                                <b>Us in Every Platform</b>
                                <b>To Update Yourself</b>
                                
                            </span>
                        </h1>
                        <p class="color_white mb_30">10 Minutes Might Not Affect Your Life , But Your 10 Minutes Can Change Someone's Entire Life ... Help Them Who Really Needs..</p>
                        <p class="color_white mb_30">Due to Some Reason We couldn't accept files from Contact Page , kindly email Your CV/Resume on Our Official Email Id</p>
                        <a class="btn btn-default" href="/contact">Contact US</a>
                        <a class="btn btn-default" href="/support">Support US</a>
                        <a class="btn btn-default" href="/donators">Top Donators</a>
                        <a class="btn btn-default" href="/blueprint">BluePrint And Links</a>
                    </div>
                </div>          
            </div>
        </div>
    </section>
	<!--	End Main Banner 
	==================================================-->
	<!--	Start About
	===================================================-->
	<section id="about" class="py_80 full_row bg_white">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase"><span class="line_double mx-auto color_default">about Section</span>about eLearn Institution</h2>
	                    <span class="sub_title">Completely Free Educational E-Learning Platform </span>
	                </div>
				</div>
			</div>
			<div class="about_one">
				<div class="row">
					<div class="col-md-7 col-lg-7">
						<div class="myself color_secondery wow animated fadeInLeft">
							<p>we Are the first who will completely change education system , generally brillient students belong from poor family , and couldn't afford education .. for those we are coming .. this will free forever for everyone </p>
							
							<p>But This is Advance Learing Platform , so not everyone can handle this .. for those we have our own material made by our contributors ... </p>
							<p> Join Us - and make eLearnInstitution Stronger , Powerful One</p>
							<p>Due to Some Reason we couldn't accept your files , so send attachment to our official email id--<strong> elearninstitution@gmail.com</strong></p>
						</div>
						<div class="personal_info">
							<div class="row">
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!--	End About
	===================================================-->
	
	
	<!--	Start Footer
	===================================================-->
	<footer class="p_20 color_primary bg_secondery text-center full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="copyright"><p><a href="/support" target="_blank">Support eLearn Community , We need Your Help</a></p></div>
				</div>
			</div>
		</div>
	</footer>
	<!--	End Footer
	===================================================-->
	</div>
</div>
<!--	Wrapper End
=======================================================-->
	<!--	Js Links
	===================================================-->
	<script src="{% static 'home/js/jquery.min.js' %}"></script>
	<script src="{% static 'home/js/popper.min.js' %}"></script>
	<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'home/js/plugins.js' %}"></script>
	<script src="{% static 'home/js/custom.js' %}"></script>
	<script>
		$(document).ready(function() {
		//=========================================
		//  Water Effect
		//=========================================
		
			$('.banner_water_effect').ripples({
			  resolution: 256,
			  dropRadius: 20,
			  perturbance: 0.03,
			  interactive:true,
			});
		//  Smoothscroll js
		//=========================================
		  $("a").on('click', function(event) {

			  if (this.hash !== "") {
				event.preventDefault();
			  
				var hash = this.hash;

				$('html, body').animate({
				  scrollTop: $(hash).offset().top 
				}, 1000, function(){
			 
				  window.location.hash = hash;
				});
			  }
			});
		 });
	</script>
</body>

<!-- index-754:31-->
</html>

