{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>eLearn Need Your Support</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'support/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'support/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/"><strong>eLearn</strong> Institution Needs Help</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">About eLearn</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="{% static 'support/images/fulls/bnb_full.jpeg'%}" class="image"><img src="{% static 'support/images/thumbs/bnb_thumb.jpeg'%}" alt="" /></a>
							<h2>BNB WALLET CLICK TO SCAN OR ADDRESS</h2>
							<p>0xCe601F5cb5fA3c68feeCDB37DDf57d1771420086</p>
						</article>
						<article class="thumb">
							<a href="{% static 'support/images/fulls/btc_full.jpeg'%}" class="image"><img src="{% static 'support/images/thumbs/btc_thumb.jpeg'%}" alt="" /></a>
							<h2>BTC WALLET CLICK TO SCAN OR ADDRESS</h2>
							<p>3DQhtgaJA9jCzVscE4XgnJyY7x2yNH4Sbi</p>
						</article>
						<article class="thumb">
							<a href="{% static 'support/images/fulls/eth_full.jpeg'%}" class="image"><img src="{% static 'support/images/thumbs/eth_thumb.jpeg'%}" alt="" /></a>
							<h2>ETH WALLET CLICK TO SCAN OR ADDRESS</h2>
							<p>0xCe601F5cb5fA3c68feeCDB37DDf57d1771420086</p>
						</article>
						<article class="thumb">
							<a href="{% static 'support/images/fulls/monero_full.jpeg'%}" class="image"><img src="{% static 'support/images/thumbs/monero_thumb.jpeg'%}" alt="" /></a>
							<h2>MONERO WALLET CLICK TO SCAN OR ADDRESS</h2>
							<p>44ca3ZuNk6UTQ6STSECrNGdyHiqXLBkuiC3jVZBCe6iCZYexX2YPUxTXnHxYJrZtjpV4uwjw7pk24EpCDFgdU5aU2mjwAC7</p>
						</article>
						<article class="thumb">
							<a href="{% static 'support/images/fulls/gpay_full.jpeg'%}" class="image"><img src="{% static 'support/images/thumbs/gpay_thumb.jpeg'%}" alt="" /></a>
							<h2>GOOGLE PAY</h2>
							<p>Scan this code to pay </p>
						</article>
						<article class="thumb">
							<a href="{% static 'support/images/fulls/paypal_full.jpeg'%}" class="image"><img src="{% static 'support/images/thumbs/paypal_thumb.jpeg'%}" alt="" /></a>
							<h2>PayPal</h2>
							<p>Paypal.me/adrianalvird</p>
						</article>
						
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Help Team eLearn</h2>
									<p>An Open Source Free Educational Project Made By Team eLearnInstitution , Brillient Students generally belong From Poor Class Family , They Couldn't afford High quality Learning from Ed-Tech or Other Institutions , Our Primary Focus is to Provide High Quality Educations.. Thank You</p>
								</section>
								
									
								<section>
									<h2>Follow Us on ...</h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'support/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'support/assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'support/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'support/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'support/assets/js/util.js' %}"></script>
			<script src="{% static 'support/assets/js/main.js' %}"></script>

	</body>
</html>

